/**
 * @section Typography
 * Sets font styles for entire site
 */

html {
	scroll-behavior: smooth;
}

body {
	background: var(--color-white-dm-black);
	border-top: 0.5em solid var(--color-gray-light-dm-dark);
	color: var(--color-black-dm-white);
	font-family: var(--font-primary);
	font-size: var(--font-size);
	line-height: 1.5;
	overflow-x: hidden;
}

@media (min-width: 38em) {
	body {
		line-height: var(--spacing);
	}
}

p {
	margin: 0 0 var(--spacing);
}

/**
 * Hyperlink styling
 */

a {
	color: var(--color-primary-dm-lighter);
	text-decoration-skip-ink: auto;
	word-wrap: break-word;
}

a:hover {
	color: var(--color-primary-dark-dm-light);
}

main a:not(.btn,.link-no-visited):visited {
	color: var(--color-accent-1-dm-light);
}


.link-no-underline {
	text-decoration: none;
}

.link-no-underline:hover {
	text-decoration: underline;
}


/**
 * Remove default link styling
 */

.link-plain,
.link-plain:visited {
	color: var(--color-black-dm-white);
	text-decoration: none;
}

.link-plain:hover {
	color: var(--color-primary-dm-light);
}


/**
 * List styling
 */

ul,
ol {
	margin: 0 0 var(--spacing) 2em;
	padding: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
	margin-bottom: 0;
}

li {
	margin-bottom: 0.5em;
}

@media (min-width: 38em) {
	li {
		margin-bottom: 0.25em;
	}
}

.list-spaced li {
	margin-bottom: var(--spacing);
}

@media (min-width: 38em) {
	.list-spaced li {
		margin-bottom: 1em;
	}
}

.list-spaced-small li {
	margin-bottom: 1.125em;
}

@media (min-width: 38em) {
	.list-spaced-small li {
		margin-bottom: 0.6875em;
	}
}

dl,
dd {
	margin: 0;
	padding: 0;
}

dd {
	margin-bottom: var(--spacing);
}

dt {
	font-weight: bold;
}

/**
 * Removes list styling.
 * For semantic reasons, should only be used on unordered lists.
 */
.list-unstyled,
.list-inline,
.list-checked {
	list-style-type: "";
	margin-left: 0;
}

/**
 * Display lists on a single line.
 */

.list-inline {
	display: flex;
	align-items: center;
	column-gap: 1em;
	flex-wrap: wrap;
}

@media (max-width: 38em) {
	.list-inline-responsive {
		display: block;
	}
}

.list-inline-spaced {
	column-gap: 2.875em;
}

.list-inline-compact {
	column-gap: 0.5em;
}

.list-inline-center {
	justify-content: center;
}


/**
 * Checkmark lists
 */

.list-checked li {
	padding-left: 1em;
}

.list-checked li:before {
	content: "✓";
	color: var(--color-secondary-dm-lighter);
	margin-left: -1em;
	margin-right: 0.25em;
}



/**
 * Heading styling for h1 through h6 elements.
 * Heading class lets you use one heading type for semantics, but style it as another heading type.
 */

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-secondary);
	line-height: 1.4;
	margin: 0 0 1em;
	padding: 0;
	text-wrap: pretty;
	word-wrap: break-word;
}

h1,
.h1 {
	font-size: 1.5em;
	padding-top: 0.5em;
}

@media (min-width: 38em) {
	h1,
	.h1 {
		font-size: 1.75em;
	}
}

h2,
.h2 {
	font-size: 1.3125em;
	padding-top: 1em;
}

h3,
.h3 {
	font-size: 1.1875em;
}

h4, h5, h6,
.h4, .h5, .h6 {
	font-size: 1em;
}

h4,
.h4 {
	font-size: 0.8125em;
	text-transform: uppercase;
}

/**
 * Lines
 */
hr {
	border: 0;
	border-top: 1px solid var(--color-gray-light-dm-dark);
	margin: 2em auto;
}

.line-secondary {
	width: 50%;
}

.line-clear {
	border-top-color: transparent;
}

.line-overlay {
	margin-top: -2.8em;
}

.line-overlay > strong {
	background-color: var(--color-white-dm-black);
	display: inline-block;
	padding: 0 1em;
	text-wrap: pretty;
}

@media (min-width: 38em) {
	.line-overlay > strong {
		padding: 0 2em;
	}
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
	background: var(--color-mark);
	color: var(--color-black-dm-white);
}

/**
 * Blockquotes
 */

blockquote {
	border-left: 0.25em solid var(--color-gray-light);
	font-style: italic;
	margin: 0 0 var(--spacing);
	padding-left: 1em;
	padding-right: 1em;
}

blockquote pre {
	font-style: normal;
}

cite {
	color: var(--color-gray-dark-dm-light);
	display: block;
	font-size: 0.9375em;
	padding-top: 1em;
}