/**
 * @section Form Validation
 */

.error {
	border-color: var(--color-secondary-dark-dm-light);
}

.success-message,
.error-message {
	font-style: italic;
}

.error-message {
	color: var(--color-secondary-dm-lighter);
	margin-bottom: 1em;
}