			</div>
		</main>

		<footer class="container container-large">
			<hr class="margin-bottom">
			{{ partial "nav-secondary.html" . }}
			<p class="text-small">Made with ❤️ in Massachusetts by <a href="https://gomakethings.com">Chris Ferdinandi</a>. Unless otherwise noted, all code is free to use under the <a href="/mit">MIT License</a>.</p>
			<p class="text-small">Logo by <a href="https://thenounproject.com/term/coral/862368/">Lluis Pareras from the Noun Project</a>.</p>
		</footer>

		<script>
			{{- if .HasShortcode "mailchimp" -}}{{ if eq $.Site.Params.minify true }}{{ readFile "/themes/gmt/static/js/newsletter.min.js" | safeJS }}{{ else }}{{ readFile "/themes/gmt/static/js/newsletter.js" | safeJS }}{{ end }}{{- end -}}
			{{- if .HasShortcode "toc" -}}{{ if eq $.Site.Params.minify true }}{{ readFile "/themes/gmt/static/js/toc.min.js" | safeJS }}{{ else }}{{ readFile "/themes/gmt/static/js/toc.js" | safeJS }}{{ end }}{{- end -}}
			{{- if isset .Params "anchors" -}}{{ if eq $.Site.Params.minify true }}{{ readFile "/themes/gmt/static/js/anchors.min.js" | safeJS }}{{ else }}{{ readFile "/themes/gmt/static/js/anchors.js" | safeJS }}{{ end }}{{- end -}}
			{{ if eq $.Site.Params.minify true }}{{ readFile "/themes/gmt/static/js/swInit.min.js" | safeJS }}{{ else }}{{ readFile "/themes/gmt/static/js/swInit.js" | safeJS }}{{ end }}
		</script>
	</body>
</html>