/**
 * @section Code
 */

code,
kbd,
pre,
samp {
	font-family: var(--font-monospace);
	font-size: 0.875em;
}

code {
	color: var(--color-code);
	word-wrap: break-word;
}

pre {
	background-color: var(--color-tertiary-dark);
	border: 0.0625rem solid var(--color-white);
	border-radius: 0.5em;
	color: var(--color-white);
	display: block;
	line-height: 1.5;
	margin: 0 0 var(--spacing);
	overflow: auto;
	padding: 0.8125em;
	tab-size: 2;
	white-space: pre-wrap;
	word-break: break-all;
}

@media (min-width: 38em) {
	pre {
		tab-size: 4;
	}
}

pre code {
	color: inherit;
	font-size: 1em;
}