/**
 * @section FluidVids
 */

[src*="youtube.com"],
[src*="youtube-nocookie.com"],
[src*="player.vimeo.com"],
.fluid-vid {
	aspect-ratio: 16 / 9;
	background-color: var(--color-gray-lighter);
	height: 100%;
	margin-bottom: var(--spacing);
	width: 100%;
}