/**
 * @section Grid
 */

/**
 * Base grid styles: single column
 */
.container {
	margin-left: auto;
	margin-right: auto;
	max-width: var(--container-max-width);
	width: var(--container-width);
}

.container-large {
	max-width: var(--container-large-max-width);
}


/**
 * Full width content
 */
.full-width {
	margin-left: calc(50% - 50vw);
	min-width: 100vw;
	width: 100vw;
}


/**
 * Grids
 */

@media (min-width: 38em) {

	.row {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: 1fr auto;
		column-gap: 0.75em;
	}

	.row-gap-large {
		column-gap: 1.1875em;
	}

	.row-no-gap {
		column-gap: 0;
	}

	.row-auto {
		grid-template-columns: repeat(auto-fit, minmax(min(100%, 15em), 1fr));
	}

	.grid-fifth,
	.grid-sixth {
		grid-column: auto / span 2;
	}

	.grid-fourth {
		grid-column: auto / span 3;
	}

	.grid-third {
		grid-column: auto / span 4;
	}

	.grid-two-thirds {
		grid-column: auto / span 8;
	}

	.grid-half {
		grid-column: auto / span 6;
	}

	.grid-three-fourths {
		grid-column: auto / span 9;
	}

	.grid-four-fifths,
	.grid-five-sixths {
		grid-column: auto / span 10;
	}

	[class*="grid-start-"] {
		grid-row-start: 1;
	}

	.grid-start-first {
		grid-column-start: 1;
	}

	.grid-start-fourth {
		grid-column-start: 4;
	}

	.grid-start-third {
		grid-column-start: 5;
	}

	.grid-start-half {
		grid-column-start: 7;
	}

	.grid-start-two-thirds {
		grid-column-start: 9;
	}

	.grid-start-three-fourths {
		grid-column-start: 10;
	}

}


/**
 * Flexbox
 */
.row-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 1em;
	row-gap: 0.25em;
}


/**
 * Columns
 */

@media (min-width: 38em) {
	.list-columns {
		column-count: 2;
	}
}