/**
 * @section Utility classes
 */

/**
 * Text sizes
 */

.text-small {
	font-size: 0.9375em;
}

.text-xsmall {
	font-size: 0.75em;
}

.text-large,
.text-xlarge {
	line-height: 1.4;
}

.text-large {
	font-size: 1.1875em;
}

@media (min-width: 38em) {
	.text-large {
		font-size: 1.3125em;
	}
}

.text-xlarge {
	font-size: 1.7em;
}

@media (min-width: 38em) {
	.text-xlarge {
		font-size: 2em;
	}
}


/**
 * Text colors
 */

.text-muted {
	color: var(--color-gray-dark-dm-light);
}

.text-muted-light {
	color: var(--color-gray-medium-dark);
}


/**
 * Text transforms
 */

.text-normal {
	font-weight: normal;
	font-style: normal;
}

.text-capitalize {
	text-transform: capitalize;
}

.text-pretty {
	text-wrap: pretty;
}

.text-sans {
	font-family: var(--font-primary);
}

.text-serif {
	font-family: var(--font-secondary);
}


/**
 * Text alignment
 */

.text-center {
	text-align: center;
}

@media (max-width: 38em) {
	.text-center-small {
		text-align: center;
	}
}

.text-right {
	text-align: right;
}

@media (min-width: 38em) {
	.text-right-large {
		text-align: right;
	}
}



/**
 * Background Color & Borders
 */
.bg-muted {
	background-color: var(--color-gray-lighter-dm-darker);
}

.border {
	border: 1px solid var(--color-gray-light);
	border-radius: 0.5em;
}


/**
 * Allow horizontal scroll
 */
.scroll-horizontal {
	display: block;
	overflow-x: auto;
}


/**
 * Margins
 */

.no-margin-top {
	margin-top: 0;
}

.no-margin-bottom {
	margin-bottom: 0;
}

.margin-top {
	margin-top: var(--spacing);
}

.margin-bottom {
	margin-bottom: var(--spacing);
}

.margin-bottom-small {
	margin-bottom: 0.5em;
}

.margin-bottom-medium {
	margin-bottom: 1.1875em;
}

.margin-bottom-large {
	margin-bottom: 2em;
}

.margin-bottom-negative {
	margin-bottom: -1.75em;
}

.margin-right {
	margin-right: 0.25em;
}


/**
 * Padding
 */

.no-padding-top {
	padding-top: 0;
}

.no-padding-bottom {
	padding-bottom: 0;
}

.padding-top {
	padding-top: var(--spacing);
}

.padding-top-xsmall {
	padding-top: 0.25em;
}

.padding-top-small {
	padding-top: 0.5em;
}

.padding-top-medium {
	padding-top: 1em;
}

.padding-top-large {
	padding-top: 2em;
}

.padding-top-xlarge {
	padding-top: 3em;
}

.padding-bottom {
	padding-bottom: var(--spacing);
}

.padding-bottom-small {
	padding-bottom: 0.5em;
}

.padding-bottom-large {
	padding-bottom: 2em;
}

.padding-bottom-xlarge {
	padding-bottom: 3em;
}


/**
 * Accessibility
 */

/*
 * Hide only visually, but have it available for screen readers:
 * @link https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.screen-reader,
.tarpit {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap; /* 1 */
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard
 * @link https://www.drupal.org/node/897638
 */
.screen-reader-focusable:active,
.screen-reader-focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	white-space: inherit;
	width: auto;
}


/**
 * Remove all animations and transitions for people that prefer not to see them
 */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}


/**
 * Clear any floats
 */
.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
}

.clearfix:after {
	clear: both;
}